body{
    background-color: #839079; 
}
.greenBG{
    background-color: #839079;
    width: 100%;
}
section{
    background-color: #839079;
}
h1{
    font-size: 50px;
}
.sectionBeige{
    background-color: #f8f7e5;
}